.guide__wrapper {
  margin: 0 auto;
  padding: 24px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 105px 170px 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 69px;
    border: none;
  }
}

.guide__title {
  font-family: "Oswald", "Arial", serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.guide__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 212px;
    column-gap: 135px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.guide__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &::before {
    content: "";
    min-width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-bottom: 31px;
    z-index: 1;
  }
}

.guide__item--leaf {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/sprite.svg#icon__leaf");
    background-size: 30px 32px;
    width: 30px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 80px;
    height: 80px;

    &::before {
      content: "1";
      font-family: "Oswald", sans-serif;
      width: 112px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      left: 115px;
      top: -40px;
    }

    &::after {
      content: "";
      background-image: url("../../images/sprite.svg#icon__leaf");
      background-size: 30px 32px;
      width: 30px;
      height: 32px;
      position: absolute;
      left: 25px;
      top: 25px;
    }
  }
}

.guide__item--water {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/sprite.svg#icon__water");
    width: 26px;
    height: 28px;
    position: absolute;
    left: 17px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 80px;
    height: 80px;

    &::before {
      content: "2";
      font-family: "Oswald", sans-serif;
      width: 112px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      left: 110px;
      top: -40px;
    }

    &::after {
      content: "";
      background-image: url("../../images/sprite.svg#icon__water");
      width: 26px;
      height: 28px;
      position: absolute;
      left: 28px;
      top: 25px;
    }
  }
}

.guide__item--food {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/sprite.svg#icon__food");
    width: 25px;
    height: 30px;
    position: absolute;
    left: 17px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 80px;
    height: 80px;

    &::before {
      content: "3";
      font-family: "Oswald", sans-serif;
      width: 112px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      left: 115px;
      top: -39px;
    }

    &::after {
      content: "";
      background-image: url("../../images/sprite.svg#icon__food");
      width: 25px;
      height: 30px;
      position: absolute;
      left: 28px;
      top: 25px;
    }
  }
}

.guide__item--time {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/sprite.svg#icon__time");
    width: 26px;
    height: 31px;
    position: absolute;
    left: 17px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 80px;
    height: 80px;

    &::before {
      content: "4";
      font-family: "Oswald", sans-serif;
      width: 112px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      left: 115px;
      top: -39px;
    }

    &::after {
      content: "";
      background-image: url("../../images/sprite.svg#icon__time");
      width: 26px;
      height: 31px;
      position: absolute;
      left: 28px;
      top: 24px;
    }
  }
}

.guide__description {
  margin: 0;
  position: absolute;
  left: 80px;
  min-width: 200px;

  @media (min-width: $tablet-width) {
    left: 0;
    font-size: 16px;
    line-height: 24px;
    width: 242px;
    margin-top: 243px;
  }
}
