.guide__wrapper {
  margin: 0 auto;
  padding: 24px 20px 49px;
}

.guide__title {
  font-family: "Oswald", "Arial", serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.guide__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}

.guide__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    min-width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  &--leaf::before {
    background-position: 17px 16px;
    background-image: url("../../images/sprite.svg#icon__leaf");
  }

  &--water::before {
    background-position: 17px 16px;
    background-image: url("../../images/sprite.svg#icon__water");
  }

  &--food::before {
    background-position: 17px 16px;
    background-image: url("../../images/sprite.svg#icon__food");
  }

  &--time::before {
    background-position: 17px 16px;
    background-image: url("../../images/sprite.svg#icon__time");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.guide__count {
  display: none;
}
