.promo {
  min-height: 480px;
  display: flex;
  position: relative;
  justify-content: space-around;

  &::before {
    content: "";
    background-image: url(../../images/index-background-mobile@1x.jpg);
    background-color: #64a83b;
    background-size: 302px 310px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 310px;
    top: -10px;
    left: 0;
    right: 0;
  }
}


.promo__wrapper {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
}


.promo__title {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0  0 29px 0;
}


.promo__link {
  background-color: #68b738;
  color: #ffffff;
  padding: 11px 20px;
  text-transform: uppercase;
  border: 0;
  white-space: nowrap;
  margin-top: auto;
  min-width: 280px;
  text-align: center;
  margin-bottom: 20px;
}


