.social {
  display: flex;
  gap: 22px;
  margin-left: 3px;
  justify-content: center;
}

.social__item {
  height: 22px;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 11px 14px;
  background-repeat: no-repeat;
  background-position: center;
}
